<mat-card >
    <mat-card-content>
      <h2>Register</h2>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <mat-error *ngIf="registerError!=''">
          {{registerError}}
        </mat-error>
        <mat-form-field>
            <input matInput formControlName="firstName"
                    required
                    placeholder="First Name">
                    <mat-error>
                    Please provide first name
                    </mat-error>    
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="lastName"
                    required
                    placeholder="Last Name">
                    <mat-error>
                    Please provide last name
                    </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="userName"
                    required
                    placeholder="Username">
                    <mat-error>
                    Please provide username
                    </mat-error>
        </mat-form-field>
  
        <mat-form-field>
            <input matInput formControlName="email"
                    type="email"
                    required
                    placeholder="Email">
                    <mat-error>
                    Please provide a valid email
                    </mat-error>
        </mat-form-field>
      
        <mat-form-field>
            <input matInput formControlName="password"
                    type="password"
                    required
                    placeholder="Password">
                    <mat-error>
                    Please provide a valid password
                    </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!registerForm.valid"> Register </button>
      </form>
    </mat-card-content>
</mat-card>
