.info{
    font-size: smaller;
    line-height: 4px;
}
p{
    text-align: justify;
}
.control{
    float: right;
}
.text-body{
    font-size: 18px;
}
.control > * {
    margin: 3px;
}

.zoom{
    transition: transform .1s;
}

.zoom:hover {
    transform: scale(1.05);
}