<mat-card>
    <mat-card-content>
        <div class="control">
            <button class="zoom" mat-mini-fab matTooltip="Delete" (click)="delete()" color="warn" *ngIf="isUserOwner">
                <mat-icon>delete</mat-icon>
            </button>
            <button class="zoom" mat-mini-fab matTooltip="Like" (click)="like()" color="primary" *ngIf="canLike">
                <mat-icon>favorite</mat-icon>
            </button>
        </div>
        <h2>
            {{item.title}}
        </h2>
        <div class="info">
            <p>Created by: {{userName}}</p>
            <p>Genres: {{genreNames}}</p>
            <p>Rating: {{item.rating}}</p>
            <p>Publishing date: {{date}}</p>
        </div>
        <p class="text-body">
            {{item.body}}
        </p>
    </mat-card-content>
</mat-card>
