<mat-card>
    <mat-card-content id="serach-menu">
        <form id="serach-form" [formGroup]="searchForm" (ngSubmit)="search()">

            <mat-form-field id="search-bar" appearance="outline">
                <input matInput formControlName="search" placeholder="Title">
            </mat-form-field>
    
            <mat-form-field id="genre-selector" appearance="outline">
                <mat-label>Genres</mat-label>
                <mat-select formControlName="genres" multiple>
                    <mat-option *ngFor="let genre of genresList" [value]="genre.genreName">{{genre.genreName}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field id="order-selector" appearance="outline">
                <mat-label>Rating sort order</mat-label>
                <mat-select formControlName="sortOrder">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let order of searchOrders" [value]="order">{{order}}</mat-option>
                </mat-select>
            </mat-form-field>
    
            <button class="zoom" mat-raised-button color="primary" [disabled]="!searchForm.valid"> 
                Search 
                <mat-icon>search</mat-icon>
            </button>
        </form>
    </mat-card-content>
</mat-card>

<div id="cards">
    <app-text-item *ngFor="let text of texts" [item] = "text"></app-text-item>
</div>
