#cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#cards > * {
    flex: 1 1 500px;
    margin: 7px;
}

mat-card{
    margin: 7px;
}

button{
    display: block;
    width: 100%;
}

#search-bar{
    width: 100%;
}

#genre-selector{
    width: 100%;
}

#order-selector{
    width: 100%;
}

.zoom{
    transition: transform .1s;
}

.zoom:hover {
    transform: scale(1.01);
}

@media only screen and (min-width: 875px){
    #search-bar{
        width: 80%;
    }

    #genre-selector{
        width: 10%;
    }

    #order-selector{
        width: 10%;
    }

}