<mat-toolbar class="exp-toolbar" >
  <span class="zoom"><a routerLink="/">{{title}}</a></span>
<div fxFlex fxLayout="row" fxLayoutAlign="end center">
  <button class="zoom" mat-button routerLink="/login" *ngIf="!isLoggedIn">
    Login
    <mat-icon>person</mat-icon>
  </button>
  <button class="zoom" mat-button routerLink="/register" *ngIf="!isLoggedIn">
    Register
    <mat-icon>person_add</mat-icon>
  </button>
  <button class="zoom" mat-button *ngIf="isLoggedIn" (click) = 'logout()'>
    Logout
    <mat-icon>power_settings_new</mat-icon>
  </button>
  <button class="zoom" mat-button  routerLink="/profile" *ngIf="isLoggedIn">
    Your profile
    <mat-icon>account_circle</mat-icon>
  </button>
</div>
</mat-toolbar>
<router-outlet></router-outlet>
