mat-card{
    margin: 7px;
    background-color: lightgrey;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#cards > * {
    flex: 1 1 500px;
    margin: 7px;
}

mat-card-content{
    color: black;
}

#profile{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#profile > * {
    flex: 1 1 500px;
    margin: 7px;
}

#profile-info{
    line-height: 4px;
    font-size: x-large;
}

h2{
    line-height: 1.1em;
}

mat-form-field {
    display: block;
}

label{
    color: red;
}

button{
    width: 100%;
}

#profile-functions > * {
    margin: 7px 0;
}

#texts-head > * {
    text-align: center;
}

mat-error{
    line-height: 1.1em;
}

.zoom{
    transition: transform .1s;
}

.zoom:hover {
    transform: scale(1.01);
}