<mat-card>
    <mat-card-content id="profile">
        <div id="profile-info">
            <h2>Hello, {{firstName}} {{lastName}}</h2>
            <form [formGroup]="updateForm" (ngSubmit)="update()">
                <mat-error *ngIf="updateError!=''">
                  {{updateError}}
                </mat-error>
                <mat-form-field>
                    <label for="firstName">First name:</label>
                    <input matInput id="firstName" formControlName="firstName"
                            required>
                            <mat-error>
                                Please provide a valid first name
                            </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <label for="lastName">Last name:</label>
                    <input matInput id="lastName" formControlName="lastName"
                            required>
                            <mat-error>
                                Please provide a valid last name
                            </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <label for="userName">User name:</label>
                    <input matInput id="userName" formControlName="userName"
                            required>
                            <mat-error>
                                Please provide a valid user name
                            </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <label for="email">Email:</label>
                    <input matInput id="email" formControlName="email"
                            required>
                            <mat-error>
                                Please provide a valid email address
                            </mat-error>
                </mat-form-field>
                <button class="zoom" mat-raised-button color="primary" [disabled]="!updateForm.valid"> 
                    Save
                    <mat-icon>save</mat-icon>
                </button>
              </form>
        </div>
        <div id="profile-functions">
            <button class="zoom" mat-raised-button color="warn" (click)="delete()"> 
                Delete account
                <mat-icon>delete_forever</mat-icon>
            </button>

            <button class="zoom" mat-raised-button color="primary" (click)="changePassword()"> 
                Change password
                <mat-icon>lock</mat-icon>
            </button>

            <button class="zoom" mat-raised-button color="accent" *ngIf="isAdmin" (click)="adminPanel()"> 
                Admin panel
                <mat-icon>stars</mat-icon>
            </button>

        </div>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <div id="texts-head">
            <h2>Your texts</h2>
            <button class="zoom" mat-raised-button color="primary" (click)="addText()">
                Add new
                <mat-icon>create</mat-icon>
            </button>
        </div>
        <div id="cards-control">
        </div>
        <div id="cards">
            <app-text-item *ngFor="let text of texts" [item] = "text"></app-text-item>
        </div>
        </mat-card-content>
</mat-card>
