<mat-card>
    <mat-card-content>
            <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                <mat-error *ngIf="changePasswordError!=''">
                  {{changePasswordError}}
                </mat-error>
                <mat-form-field>
                    <label for="currentPassword">Current password:</label>
                    <input matInput type="password" id="currentPassword" formControlName="currentPassword"
                            required>
                            <mat-error>
                                Please provide your current password
                            </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <label for="newPassword">New password:</label>
                    <input matInput type="password" id="newPassword" formControlName="newPassword"
                            required>
                            <mat-error>
                                Please provide a valid new password
                            </mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" [disabled]="!changePasswordForm.valid"> 
                    Change
                    <mat-icon>save</mat-icon>
                </button>
              </form>
    </mat-card-content>
</mat-card>
