mat-card {
    max-width: 750px;
    margin: 2em auto;
    text-align: center;
}
  
mat-form-field {
    display: block;
}
  
#text-input > *{
    margin: 2% auto;
}

button{
    width: 100%;
}

input{
    font-size: x-large;
}

textarea{
    font-size: large;
}

.zoom{
    transition: transform .1s;
}

.zoom:hover {
    transform: scale(1.02);
}