<mat-card>
    <mat-card-content>
        <h2>Add new text</h2>
        <form id="text-input" [formGroup]="addTextForm" (ngSubmit)="addText()">
            <mat-error *ngIf="addTextError!=''">
              {{addTextError}}
            </mat-error>

            <mat-form-field>
                <label for="title">Title:</label>
                <input matInput id="title" formControlName="title"
                        required>
                        <mat-error>
                            Please provide a valid title
                        </mat-error>
            </mat-form-field>

            <mat-form-field>
                <label for="body">Body:</label>
                        <textarea matInput id="body" formControlName="body" required></textarea>
                        <mat-error>
                            Please provide a valid text body
                        </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Genres</mat-label>
                <mat-select required formControlName="genres" multiple>
                  <mat-option *ngFor="let genre of genresList" [value]="genre.genreName">{{genre.genreName}}</mat-option>
                </mat-select>
            </mat-form-field>

            <button class="zoom" mat-raised-button color="primary" [disabled]="!addTextForm.valid"> 
                Add 
                <mat-icon>create</mat-icon>
            </button>
        </form>
    </mat-card-content>
</mat-card>