table{
    margin: 7px auto;
    width: 100%;
    border-collapse:separate;
    border:solid black 1px;
    border-radius:4px;
}

thead > * {
    background-color: #212121;
    color: whitesmoke;
    
}

mat-card-content{
    color: black;
    text-align: center;
}

mat-card{
    margin: 7px;
    padding: 10px;
    background-color: lightgrey;
}

tr{
    background-color:rgb(150, 150, 150);
    text-align: center;
    font-size: medium;
    color: black;
}

tr:nth-child(even) {
    background: rgb(180, 180, 180);
}

input{
    font-size: medium;
}

td {
    width: 100%;
    float: left;
}

.add-button{
    width: 100%;
}

label{
    font-size: medium;
}

form{
    background-color: rgb(150, 150, 150);
    width: 70%;
    margin: 7px auto;
    border:solid black 1px;
    border-radius:4px;
}

.zoom{
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.05);
}

@media only screen and (min-width: 875px){
    td {
        width: auto;
        float: none;
    }
}