<mat-card>
    <mat-card-content id="profile">
        <h2>Users</h2>
        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>First name</td>
                    <td>Last name</td>
                    <td>User name</td>
                    <td>Email</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of usersList">
                    <ng-template [ngIf]="user?.id != u.id" [ngIfElse]="edit">
                        <td>{{u.id}}</td>
                        <td>{{u.firstName}}</td>
                        <td>{{u.lastName}}</td>
                        <td>{{u.userName}}</td>
                        <td>{{u.email}}</td>
                        <td>
                            <button class="zoom" matTooltip="Edit" mat-raised-button (click)="editUser(u)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button class="zoom" matTooltip="Delete" color="warn" mat-raised-button (click)="deleteUser(u)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-template>
                </tr>
            </tbody>
        </table>
         
        <ng-template #edit>
            <td></td>
            <td>
                <mat-form-field>
                    <input class="user-input" matInput type="text" [(ngModel)]="user.firstName" class="form-control" />
                </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                    <input class="user-input" matInput type="text" [(ngModel)]="user.lastName" class="form-control" />
                </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                    <input class="user-input" matInput type="text" [(ngModel)]="user.userName" class="form-control" />
                </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                    <input class="user-input" matInput type="text" [(ngModel)]="user.email" class="form-control" />
                </mat-form-field>
            </td>
            <button class="zoom" mat-raised-button color="primary" (click)="updateUser()"> 
                Save
                <mat-icon>save</mat-icon>
            </button>
            <button class="zoom" color="accent" mat-raised-button (click)="makeAdmin()"> 
                Make Admin
            </button>
            <button class="zoom" mat-raised-button (click)="cancelUser()"> 
                Cancel
            </button>
        </ng-template>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content id="genre">
        <h2>Genres</h2>
        <button class="add-button" color="primary" mat-raised-button (click)="add()">
            Add new
            <mat-icon>edit</mat-icon>
        </button>
        <table *ngIf="tableMode; else create">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let genre of genreList">
                    <td>{{genre.id}}</td>
                    <td>{{genre.genreName}}</td>
                    <td>
                        <button class="zoom" matTooltip="Delete" color="warn" mat-raised-button (click)="deleteGenre(genre)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <ng-template #create>
            <form [formGroup]="genreAddForm" (ngSubmit)="addNewGenre()">
                <mat-error *ngIf="genreAddError!=''">
                  {{genreAddError}}
                </mat-error>

                <label for="genreName">Name:</label>
                <mat-form-field>
                    <input matInput id="genreName" formControlName="genreName"
                            required>
                            <mat-error>
                                Please provide a valid genre name
                            </mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" [disabled]="!genreAddForm.valid"> 
                    Add
                </button>
              </form>
            <button class="zoom" mat-raised-button (click)="cancelGenre()"> 
                Cancel
            </button>
        </ng-template>
    </mat-card-content>
</mat-card>
